h3{
    text-align: center;
    font-size: 48px;
    line-height: 57px;
}
.logo-section{
    display: flex;
    margin:40px 130px;
    img{
        width: calc( 100% / 6);
        svg{
           
        }
    }
}